.form {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;

  label {
    display: flex;
    flex-direction: column;
  }

  button {
    max-width: max-content;
    margin-left: auto;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
  }
}
